.accordion {
  margin-bottom: $space;
}

.acc-handle {
  background-color: $gray-dark;
  color: $white;
  font-weight: bold;
  display: block;
  position: relative;
  padding: $pad-half;
  border-bottom: 1px solid $gray-light;

  &:after {
    content:"+";
    float: right;
  }

  &:hover {
    color: $white;
    background-color: $gray-darkest;
  }

  &.active {
    background-color: $gray-dark;

    &:after {
      content:"-";
    }
  }
}