// Item grid layout
@include with-layout(12 .1) {
  .items-grid {
    @include clearfix;
    padding: 0 gutter();
    > .item {
      @include gallery(6 of 12);
      margin-bottom: gutter();
      @include mappy-bp(medium) {
        @include gallery(3 of 12);
      }
    }
  }
}

.item {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  .item-excerpt {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: $pad-half;
    p {
      color: #fff;
      margin: 0;
      text-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    }
  }
  .photo-wrap {
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 100%;
    .photo-placeholder {
      @include border-radius($global-border-radius, $global-border-radius);
      background-color: #fff;
      border: 1px solid $dim;
      text-align: left;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      img {
        @include single-transition(all, $transition-duration, ease-in);
        position: absolute;
      }
      .item-icon {
        background-color: $gray;
        background-color: rgba(0,0,0,0.6);
        position: absolute;
        right: 0;
        top: 0;
        padding: $pad-quarter $pad-half;
        .fa {
          @include adjust-font-size-to(18px);
          color: white;
        }
      }
    }
  }
}

.register__icon {
  background: url('/themes/echode/images/icon_register.jpg') no-repeat 0;
  background-size: 75px auto;
  float: left;
  width: 75px;
  height: 75px;
  @include mappy-bp(medium) {
    background-size: 130px auto;
    width: 130px;
    height: 130px;
  }
  @include mappy-bp(large) {
    background-size: 180px auto;
    width: 180px;
    height: 180px;
  }
}

.capabilities {
  padding-left: 95px;
  @include mappy-bp(medium) {
    padding-left: 160px;
  }
  @include mappy-bp(large) {
    padding-left: 210px;
  }
}

.story-wrap {
  background-color: #fff;
  border: 1px solid $dim;
  position: relative;
  text-align: left;
}

.item {
  &:hover img {
    @include backface-visibility(hidden);
    @include filter(grayscale(1) brightness(0.5));
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
  }
}

.view-items-link a {
  @include button;
  @include button-variant(#ffffff, $primary);
}

// Map
#map_browse {
  width: 100%;
}

.small-print {
  @include adjust-font-size-to(13px);
  color: $gray;
  margin-top: rhythm();
}

// User Profiles
#user-profiles-link-to-owner {
  margin-bottom: rhythm();
}

// Individual Sections
.about {
  .about__partner-logos {
    text-align: center;
    img {
      display: inline-block;
      margin: 0 $pad rhythm();
      max-height: 75px;
    }
  }
}

.hero {
  background-color: $primary-darker;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: rhythm(3) 0 rhythm(3);
  text-align: center;
  a {
    display: block;
    margin-bottom: rhythm();
    &.join-today {
      @extend .btn;
      @extend .btn-primary;
      margin-bottom: rhythm();
    }
    &.learn-more:hover,
    &.learn-more:focus {
      color: $link-color;
    }
  }
}

#home {
  .hero {
    background-image:
      linear-gradient(to bottom, rgba(0,49,68,1), rgba(0,49,68,.4), rgba(0,49,68,.2), rgba(0,49,68,.2)),
      url('/themes/echode/images/bg_home.jpg');
    padding-top: rhythm(6);
    @include mappy-bp(medium) {
      padding: rhythm(8) 0 rhythm(5);
    }
  }
  &.logged-in .hero {
    background-image:
      linear-gradient(to bottom, rgba(0,49,68,1), rgba(0,49,68,.4), rgba(0,49,68,.2), rgba(0,49,68,.2)),
      url('/themes/echode/images/bg_home_in.jpg');
  }
}

#about .hero {
  background-image: url('/themes/echode/images/bg_about.jpg');
}

#tos .hero {
  background-image: url('/themes/echode/images/bg_tos.jpg');
}

.contact {
  background-color: $gray-lightest;
  border-top: 1px solid $global-border-color;
  border-bottom: 1px solid $global-border-color;
  .contact__column {
    text-align: center;
    @include mappy-bp(medium) {
      @include gallery(4 of 12);
    }
  }
}

#reset-password .section,
#login .section {
  text-align: center;
}

// Team Members
.team {
  .team__column {
    margin-bottom: rhythm();
    h3,
    p {
      @include adjust-font-size-to(14px);
    }
    @include mappy-bp(small) {
      @include gallery(6 of 12);
    }
    @include mappy-bp(large) {
      @include gallery(3 of 12);
    }
  }
}

// Contribution
.contribute {
  text-align: center;
}

// Exploring
.explore {
  text-align: center;
  #map-links {
    display: none;
  }
  #geolocation-browse {
    margin-bottom: 0 !important; // fix override native styles for now
  }
}

.explore__upper {
  @include rhythm-padding(1, 1);
  border-bottom: 1px solid $global-border-color;
}
.explore__lower {
  @include rhythm-padding(1, 1);
}

// Remove padding for map browse
.map .explore__lower {
  padding: 0;
}

.element-text {
  margin-bottom: rhythm();
}

.recent-items {
  text-align: center;
}

// Individual view
.story {
  text-align: left;
  @include mappy-bp(medium) {
    @include span(6);
    margin-left: span(3);
  }
}