/*------------------------------------*\
  $MESSAGING
\*------------------------------------*/

// Alerts
.alert {
  color: $black;
  text-align: center;
}

.alert-error {
  color: $error;
  border-color: $error;
  background-color: #ffbebe;
}