// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
  @include clearfix;
  background-color: $gray-lightest;
  border-bottom: 1px solid $gray-light;
  margin-bottom: 0;
  padding-left: $pad;
  list-style: none;
  > li {
    float: left;
    margin: $pad 0 0;

    > a {
      background-color: $gray-lightest;
      border: 1px solid $gray-light;
      border-left: 0;
      border-radius: $global-border-radius $global-border-radius 0 0;
      display: block;
      line-height: $line-height-base;
      margin: 0 0 -1px;
      padding: $pad-half $pad;
      position: relative;
      text-align: center;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $gray-lightest;
      }
    }

    &:first-of-type > a {
      border-left: 1px solid $gray-light;
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      background-color: white;
      border-bottom-color: white;
      color: $gray-dark;
      &,
      &:hover,
      &:focus {
        cursor: default;
      }
    }
  }
  // pulling this in mainly for less shorthand
  &.nav-justified {
    @extend .nav-justified;
    @extend .nav-tabs-justified;
  }
}

// Move borders to anchors instead of bottom of list
//
// Mixin for adding on top the shared `.nav-justified` styles for our tabs
.nav-tabs-justified {
  border-bottom: 0;

  > li > a {
    // Override margin from .nav-tabs
    margin-right: 0;
    border-radius: $global-border-radius;
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    border: 1px solid $gray-light;
  }

  @include mappy-bp(small) {
    > li > a {
      border-bottom: 1px solid $gray-light;
      border-radius: $global-border-radius $global-border-radius 0 0;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border-bottom-color: white;
    }
  }
}


// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}