/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors
$primary: #00adef;
$primary-dark: darken($primary, 13.5%);
$primary-darker: darken($primary, 33.5%);
$primary-darkest: darken($primary, 38.5%);

$white: #ffffff;
$black: #000000;
$dim: rgba(0,0,0,0.1);
$lighten: rgba(255,255,255,0.2);
$error: #d9534f;
$valid: #5cb85c;
$warning: #f2cf1d;

//Grayscale
$gray-base: $black;
$gray-darkest: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 33.5%);
$gray: lighten($gray-base, 50%);
$gray-light: lighten($gray-base, 85%);
$gray-lightest: lighten($gray-base, 97%);

$link-color: $primary;
$link-hover-color: $primary-dark;


//Typography
$font: "Fira Sans", "Helvetica", "Arial", sans-serif;
$font-monospace: 'Fira Mono', 'Courier New', monospace; // for `<code>`, `<kbd>`, and `<pre>`
$font-size-base: 15px;
$line-height-base: 1.6;
$line-height-computed: 24px;

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Three levels of headings should be enough
$font-size-h1: 36px;
$font-size-h2: 24px;
$font-size-h3: $base-font-size;

$font-size-large: ceil(($base-font-size * 1.25));
$font-size-small: ceil(($base-font-size * 0.85));

// Blockquotes
$blockquote-footer-color: $gray-light;
$blockquote-font-size: ($font-size-base * 1.25);
$blockquote-border-color: $gray-lightest;


//Layout
$max-width: 72em;

// CSS3 Transitions
$transition-duration: 0.15s;


//Defaults
$space: $font-size-base;
$space-and-half: $space*1.5;
$space-double: $space*2;
$space-quad: $space*4;
$space-half: $space/2;
$pad: $font-size-base;
$pad-and-half: $pad*1.5;
$pad-double: $pad*2;
$pad-half: $pad/2;
$pad-quarter: $pad/4;

$padding-base-vertical: 7.5px;
$padding-base-horizontal: 15px;

$global-border-radius: 3px;
$global-border-color: $gray-light;


//Borders
$border-med: 3px;
$border-thick: 7px;

//Breakpoints
$breakpoints: (
  'small' : 460px,
  'medium' : 768px,
  'large' : 920px,
  'wide' : 1200px,
  'mega' : 1400px,
);

//Buttons
$btn-default-color: $link-color;
$btn-default-bg: transparent;
$btn-default-border: $link-color;

$btn-primary-color: white;
$btn-primary-bg: $primary;
$btn-primary-border: darken($btn-primary-bg, 5%);

$btn-success-color: white;
$btn-success-bg: $valid;
$btn-success-border: darken($btn-success-bg, 5%);

$btn-warning-color: white;
$btn-warning-bg: $warning;
$btn-warning-border: darken($btn-warning-bg, 5%);

$btn-danger-color: white;
$btn-danger-bg: $error;
$btn-danger-border: darken($btn-danger-bg, 5%);

$btn-link-disabled-color: $gray-light;


//Forms
$input-height-base: ($line-height-computed + ($pad-half * 2) + 2);


//Global Navigation
$nav-height: ceil(($line-height-computed * 3));
$nav-margin-bottom: $line-height-computed;
$nav-padding-vertical: ((($nav-height - $line-height-computed) / 2) /2) ;