/*------------------------------------*\
  $GLOBAL CLASSES
\*------------------------------------*/
.container {
  @include clearfix;
  @include container();
  padding: 0 gutter();
  &.container--narrow {
    @include mappy-bp(medium) {
      max-width: 600px;
    }
  }
  &.container--medium {
    @include mappy-bp(medium) {
      max-width: 800px;
    }
  }
  &.container--wide {
    @include mappy-bp(medium) {
      max-width: 1200px;
    }
  }
  &.form-wrap {
    @include mappy-bp(medium) {
      max-width: 600px;
    }
  }
}

// Sections
.section {
  padding: rhythm(2) 0 rhythm();
}

/* Clearfix */
.cf {
  @include clearfix;
}

/* Completely remove from the flow and screen readers. */
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* Completely remove from the flow but leave available to screen readers. */
.is-vishidden {
  @include visually-hidden;
}

/* Floats */
.right {
  float: right;
  padding: 0 0 $pad $pad;
}

.right-search {
  float: right;
  padding: 0 0 $pad 0;
}

.left {
  float: left;
  padding: 0 $pad $pad 0;
}

/* Text-Align */
.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

/* Display Classes */
.hide-small {
  @include mappy-bp(max-width small) {
    display: none;
  }
}

.hide-up-to-med {
  @include mappy-bp(max-width medium) {
    display: none;
  }
}

.hide-med {
  @include mappy-bp(medium large) {
    display: none;
  }
}

.hide-large {
  @include mappy-bp(large) {
    display: none;
  }
}

//States
.valid {
  color: $valid;
}

.error {
  color: $error;
}

.warning {
  color: $warning;
}