/*------------------------------------*\
    $MEDIA ELEMENTS
\*------------------------------------*/

/* Flexible Media */
img,
video,
object {
  display: block;
  height: auto;
  max-width: 100%;
}

iframe {
  margin-bottom: $space;
}

figure {
  margin-bottom: $space;
  img {
    margin-bottom: $space-half;
  }
}

figcaption {
  font-style: italic;
}

.loading {
  width: auto; //Prevent loading icon from going full width
}

.icon {

}